In [29]:
for i in range(1,6):#outer loop tells total number of rows
    
    for j in range(1,6):#inner loop tell number of elements in a row
        print("*", end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [38]:
#print square taking user input
num=1
n = int (input("Enter number of rows"))
for i in range(1,n+1):
    for j in range(1,n+1):
        print(j,end="  ")
    print()

1  2  3  4  5
1  2  3  4  5
1  2  3  4  5
1  2  3  4  5
1  2  3  4  5

Print a right-angled triangle like this:
*
**
***
****

In [40]:
for i in range(1,6):
    for j in range(1,i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [41]:
# Print numbers 1 to 5 in a single line using a loop.
for i in range(1,6):
    print(i,end=" ")

1 2 3 4 5

In [43]:
"""print
1
12
123
1234
12345
"""
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end="  ")
    print()

1
1  2
1  2  3
1  2  3  4
1  2  3  4  5

In [44]:
# user input
n=int(input("Enter number of rows"))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end="  ")
    print()

1
1  2
1  2  3
1  2  3  4
1  2  3  4  5
1  2  3  4  5  6

In [51]:
# Create a program that prints the multiplication table of 1 to 10.
for i in range(1,11):
    for j in range(1,11):
        print(i*j)
    print()

1
2
3
4
5
6
7
8
9
10
tabe of 1
2
4
6
8
10
12
14
16
18
20
tabe of 2
3
6
9
12
15
18
21
24
27
30
tabe of 3
4
8
12
16
20
24
28
32
36
40
tabe of 4
5
10
15
20
25
30
35
40
45
50
tabe of 5
6
12
18
24
30
36
42
48
54
60
tabe of 6
7
14
21
28
35
42
49
56
63
70
tabe of 7
8
16
24
32
40
48
56
64
72
80
tabe of 8
9
18
27
36
45
54
63
72
81
90
tabe of 9
10
20
30
40
50
60
70
80
90
100
tabe of 10

In [52]:
# Print only even numbers between 1â€“50 using continue.
for i in range(1,51):
    if i%2 != 0:
        continue
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [54]:
import random
number = random.randint(1,11)
while True:
    n=int(input("Guess number between 1 to 10"))
    if n == number:
        print("Right Guess!")
        break
    else:
        print("Try again")

Try again
Try again
Try again
Try again
Try again
Try again
Try again
Try again
Try again
Try again
Try again
Right Guess!

In [72]:
# Print reverse triangle pattern:
for i in range(1,6):
    for j in range(6,i,-1):
        print("*",end="")
    print()

*****
****
***
**
*

In [76]:
for i in range(1,4):
    letter = chr(64+i)
    for j in range(1,i+1):
        #letter = chr(64+j)
        print(letter,end="")
    print()

A
BB
CCC

In [87]:
# Check if a Number is Prime
n=int(input("Enter a number"))
for i in range(2,n):
    if n%i==0:
        print(f"{n} is not prime number")
        break
else:
    print(f"{n} is prime")

7 is prime